<div id="logo" style="display: none">
  <h1><a href="/site">Landspace Design</a></h1>
</div>
<div class="container-full header-nav" id="header-nav">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-3 col-xs-3">
        <!-- Logo -->
        <div id="nav-logo">
          <a href="/site">
            <img src="<%=image_path('logo.png') %>">
            <span>Landspace Design</span>
          <a href="/site">
        </div>
      </div>
      <div class="col-lg-9 col-sm-9 col-xs-9">
        <nav id="nav" class="pull-right">
          <ul>
            <li id="nav_index">
              <a href='<%= controller_name == "home" && action_name == "site" ? "javascript:void(0)" : "/site#header-wrapper" %>' title="header-wrapper"><%=t("nav.index")%></a>
            </li>
            <li id="nav_about" ><a href='<%= controller_name == "home" && action_name == "site" ? "javascript:void(0)" : "/site#about" %>' title="about"><%=t("nav.about")%></a></li>
            <li id="nav_brand" ><a href='<%= controller_name == "home" && action_name == "site" ? "javascript:void(0)" : "/site#brand" %>' title="brand"><%=t("nav.brand")%></a></li>
            <li id="nav_service_cases" ><a href='<%= controller_name == "home" && action_name == "site" ? "javascript:void(0)" : "/site#service" %>' title="service"><%=t("nav.service")%></a></li>
            <li id="nav_news_trends" ><a href='/news_trends'><%=t("nav.news_trend")%></a></li>
            <li id="nav_contact" ><a href='<%= controller_name == "home" && action_name == "site" ? "javascript:void(0)" : "/site#contact" %>' title="contact"><%=t("nav.contact")%></a></li>
            <% if I18n.locale.to_s == "en" %>
              <li><a href="<%=request.path %>?locale=zh-CN"><%=t("nav.language")%></a></li>
            <% else %>
              <li><a href="<%=request.path %>?locale=en"><%=t("nav.language")%></a></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<script>
<% if controller_name == "home" %>
  $("#nav_index").addClass("active");
<% else%>
  $("#nav_<%=controller_name%>").addClass("active");
<% end %>

</script>