<noscript>
  <style>
    .es-carousel ul{
      display:block;
    }
  </style>
</noscript>
<script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">
  <div class="rg-image-wrapper">
    {{if itemsCount > 1}}
      <div class="rg-image-nav">
        <a href="#" class="rg-image-nav-prev">Previous Image</a>
        <a href="#" class="rg-image-nav-next">Next Image</a>
      </div>
    {{/if}}
    <div class="rg-image"></div>
    <div class="rg-loading"></div>
    <div class="rg-caption-wrapper">
      <div class="rg-caption" style="display:none;">
        <p></p>
      </div>
    </div>
  </div>
</script>
<div class="container" id="photo-container">
  <div class="content" style="margin-top: 20px;">
    <div id="rg-gallery" class="rg-gallery">
      <div class="rg-thumbs">
        <div class="es-carousel-wrapper">
          <div class="es-nav">
            <span class="es-nav-prev">Previous</span>
            <span class="es-nav-next">Next</span>
          </div>
          <div class="es-carousel">
            <ul>
              <li><a href="#"><img src="<%=image_path('thumbs_1.jpg')%>" data-large="<%=image_path('1.jpg')%>" alt="image01" data-description="" /></a></li>
              <li><a href="#"><img src="<%=image_path('thumbs_2.jpg')%>" data-large="<%=image_path('2.jpg')%>" alt="image01" data-description="" /></a></li>
              <li><a href="#"><img src="<%=image_path('thumbs_3.jpg')%>" data-large="<%=image_path('3.jpg')%>" alt="image01" data-description="" /></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>