<div id="content-wapper" style="background-image: url(<%=image_path('blueprints.svg')%>); background-size: cover;">
  <div id="about" class="sector">
    <div class="container">
      <div class="row" style="text-align: center">
        <div>
          <span class="title-bar"></span>
          <h4><%=t("site.about_us")%></h4>
        </div>
      </div>
      <div class="row">
        <span class="col-lg-12 col-sm-12 col-xs-12 introduce">
          <%=t("site.company-introduce")%></span>
      </div>
      <%= render "members/list", members: @members%>
    </div>
  </div>
  <div id="brand" class="sector">
    <div class="container">
      <div class="row" style="text-align: center">
        <div>
          <span class="title-bar"></span>
          <h4><%=t("site.brand")%></h4>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-6 col-xs-12">
          <div class="brand-item" id="space_design" onmouseover="brand_mouseover('space_design')" onmouseout="brand_mouseout('space_design')">
            <div class="tile">
              <h2><%=t("site.space_design")%></h2>
              <div class="symbol">
                <%=image_tag("process_mag.svg")%>
              </div>
            </div>
            <h5><%=t("site.space_design")%> —</h5>
            <p><%=t("site.space_design_desc")%></p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
          <div class="brand-item" id="transform" onmouseover="brand_mouseover('transform')" onmouseout="brand_mouseout('transform')">
            <div class="tile">
              <h2><%= t("site.renovation_of_home_stay")%></h2>
              <div class="symbol">
                <%=image_tag("process_ruler.svg")%>
              </div>
            </div>
            <h5><%= t("site.renovation_of_home_stay")%> —</h5>
            <p><%= t("site.renovation_of_home_stay_desc")%></p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
          <div class="brand-item" id="ensemble" onmouseover="brand_mouseover('ensemble')" onmouseout="brand_mouseout('ensemble')">
            <div class="tile">
              <h2><%=t("site.overall_soft_outfit")%></h2>
              <div class="symbol">
                <%=image_tag("process_tools.svg")%>
              </div>
            </div>
            <h5><%=t("site.overall_soft_outfit")%> —</h5>
            <p><%=t("site.overall_soft_outfit_desc")%></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="service" class="sector">
    <div class="container">
      <div class="row" style="text-align: center">
        <div>
          <span class="title-bar"></span>
          <h4><%=t("site.service")%></h4>
        </div>
      </div>
      <%=render "service_cases/types"%>
    </div>
  </div>
  <div id="contact" class="sector">
    <div class="container">
      <div class="row" style="text-align: center">
        <div>
          <span class="title-bar"></span>
          <h4><%=t("site.contact")%></h4>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-4 col-xs-12">
          <h3><%= t("site.company_name")%></h3>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12">
          <h3><%= t("site.address")%> —</h3>
          <p><%= t("site.company_address")%></p>

          <a style="color:#993300" href="http://j.map.baidu.com/IWKoH" target="_blank">Get Directions</a>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12">
          <h3><%=t("site.contact_phone")%> —</h3>
          <p>P <span style="color:#993300"> 400-696-1930</span></p>
          <p>E <a href="mailto:landspace@landspace.com.cn" style="color:#993300">landspace@landspace.com.cn</a></p>
        </div>
      </div>
    </div>
  </div>

  <div id="footer">
    <div class="container">
      <div class="row" style="text-align: center;">
        <a href="http://www.landspace.com.cn/" target="_blank" style="color:#FFF"> LAND SPACE DESIGN</a>
      </div>
    </div>
  </div>
</div>

<script>
  function brand_mouseover(e){
    $("#"+e).find('.symbol').css("display", "none");
    $("#"+e).find('h2').css("display", "block");
  }
  function brand_mouseout(e){
    $("#"+e).find('.symbol').css("display", "block");
    $("#"+e).find('h2').css("display", "none");
  }

  function click_person(index){
    $(".team").children().each(function(){
      $(this).removeClass("active");
    });
    $(".team-person").children().each(function(){
      $(this).css("display", "none").css("padding-left", "0px").css("opacity", "0");
    });
    $(".team").children().eq(parseInt(index-1)).addClass("active");
    $(".team-person").children().eq(parseInt(index-1)).fadeIn(0).animate({"paddingLeft":"50px",opacity:1},1000);
  }
  $(".team").children().eq(parseInt(0)).addClass("active");
  // click_person(1);
</script>