<div id="content-wapper" style="background-image: url(<%=image_path('blueprints.svg')%>); background-size: cover;">
  <div id="about" class="sector">
    <div class="container">
      <div class="row" style="text-align: center">
        <div>
          <span class="title-bar"></span>
          <h4>关于我们</h4>
        </div>
      </div>
      <div class="row">
        <span class="col-lg-12 col-sm-12 col-xs-12 introduce">
          陆地（上海）空间设计有限公司 原 LANDDESIGN STUDIO 中国总部位于上海，专注于软装国际定制。陆地中国跨境定制平台实现了意大利等欧洲知名家居定制厂商与中国大陆的直线对接，依托专业的设计团队，提供高品质全系统整体软装定制服务。16年成立公司创立“宿造”品牌，服务于中国乡村民宿建设。 LANDSPACE以人、自然与生活为主题，致力于打造中国新型空间生态系统。</span>
      </div>
      <div class="row team">
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><%=image_tag("victor1.jpg", onclick: "click_person(1)")%></div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><%=image_tag("victor@2x.jpg", onclick: "click_person(2)")%></div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><%=image_tag("dale@2x.png", onclick: "click_person(3)")%></div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><%=image_tag("brad@2x.png", onclick: "click_person(4)")%></div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><%=image_tag("marc@2x.png", onclick: "click_person(5)")%></div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><%=image_tag("sean@2x.png", onclick: "click_person(6)")%></div>
      </div>

      <div class="team-person">
        <div class="row" style="display: none">
          <div class="col-lg-6 col-sm-6 col-xs-8">
            <span>万翼</span>
          </div>
          <div class="col-lg-6 col-sm-6 col-xs-4 ">
            <div class="pull-right"><a href="#">代表作</a></div>
          </div>
          <div class="col-lg-12 col-sm-12 col-xs-12">
            <p>
              高级软装师<br>
              清华大学家具协会会员<br>
              国际家居协会高级家具设计师<br>
              宿造 品牌创始人<br>
              陆地（上海）空间设计有限公司 CEO
            </p>
          </div>
        </div>
        <div class="row" style="display: none">
          <div class="col-lg-6 col-sm-6 col-xs-8">
            <span>ARCH. ALESSANDRO RUDELLAT</span>
          </div>
          <div class="col-lg-6 col-sm-6 col-xs-4 ">
            <div class="pull-right"><a href="#">代表作</a></div>
          </div>
          <div class="col-lg-12 col-sm-12 col-xs-12">
            <p>
              宿造 品牌顾问<br>
              维尔纽斯皇家理工大学 建筑学硕士<br>
              陆地（上海）空间设计有限公司 创意总监
            </p>
          </div>
        </div>
        <div class="row" style="display: none">
          <div class="col-lg-6 col-sm-6 col-xs-8">
            <span>IRENE</span>
          </div>
          <div class="col-lg-6 col-sm-6 col-xs-4 ">
            <div class="pull-right"><a href="#">代表作</a></div>
          </div>
          <div class="col-lg-12 col-sm-12 col-xs-12">
            <p>
              高级色彩搭配师<br>
              中国流行色协会 会员<br>
              陆地（上海）空间设计有限公司 软装设计师
            </p>
          </div>
        </div>
        <div class="row" style="display: none">
          <div class="col-lg-6 col-sm-6 col-xs-8">
            <span>俞楚宁</span>
          </div>
          <div class="col-lg-6 col-sm-6 col-xs-4 ">
            <div class="pull-right"><a href="#">代表作</a></div>
          </div>
          <div class="col-lg-12 col-sm-12 col-xs-12">
            <p>
              宿造 文化发展部 部长<br>
              中国青年作家协会 理事 <br>
              中国文化艺术研究学会 会员
            </p>
          </div>
        </div>
        <div class="row" style="display: none">
          <div class="col-lg-6 col-sm-6 col-xs-8">
            <span>闻玉流</span>
          </div>
          <div class="col-lg-6 col-sm-6 col-xs-4 ">
            <div class="pull-right"><a href="#">代表作</a></div>
          </div>
          <div class="col-lg-12 col-sm-12 col-xs-12">
            <p>
              系统架构师<br>
              宿造 品牌运营总监 <br>
              陆地（上海）空间设计有限公司 首席技术官
            </p>
          </div>
        </div>
        <div class="row" style="display: none">
          <div class="col-lg-6 col-sm-6 col-xs-8">
            <span>MARC HARRIS</span>
          </div>
          <div class="col-lg-6 col-sm-6 col-xs-4 ">
            <div class="pull-right"><a href="#">代表作</a></div>
          </div>
          <div class="col-lg-12 col-sm-12 col-xs-12">
            <p>
              Marc Harris has over 10 years of experience in the field of traditional architecture, providing design project management and construction administration services for residential, commercial and educational projects. He has over 12 years of experience in forensic architecture, including forensic investigation, code and standards analysis, repair recommendations and coordination of reconstruction services. His research and organizational abilities provide detail and accuracy that suit DGA clients' needs.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="brand" class="sector">
    <div class="container">
      <div class="row" style="text-align: center">
        <div>
          <span class="title-bar"></span>
          <h4>品牌</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-6 col-xs-12">
          <div class="brand-item" id="space_design" onmouseover="brand_mouseover('space_design')" onmouseout="brand_mouseout('space_design')">
            <div class="tile">
              <h2>空间设计</h2>
              <div class="symbol">
                <%=image_tag("process_mag.svg")%>
              </div>
            </div>
            <h5>空间设计 —</h5>
            <p>陆地空间设计以人、自然与生活为主题，致力于打造新型空间设计生态系统。</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
          <div class="brand-item" id="transform" onmouseover="brand_mouseover('transform')" onmouseout="brand_mouseout('transform')">
            <div class="tile">
              <h2>民宿改造</h2>
              <div class="symbol">
                <%=image_tag("process_ruler.svg")%>
              </div>
            </div>
            <h5>民宿改造 —</h5>
            <p>“宿造”是陆地空间设计的子品牌，专注于中国乡村民宿改造工程。      </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
          <div class="brand-item" id="ensemble" onmouseover="brand_mouseover('ensemble')" onmouseout="brand_mouseout('ensemble')">
            <div class="tile">
              <h2>整体软装</h2>
              <div class="symbol">
                <%=image_tag("process_tools.svg")%>
              </div>
            </div>
            <h5>整体软装 —</h5>
            <p>以饰言美学，诠释生活真谛。不庸俗于奢华，不造作于低廉。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="service" class="sector">
    <div class="container">
      <div class="row" style="text-align: center">
        <div>
          <span class="title-bar"></span>
          <h4>服务</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-6 col-xs-12">
          <a href="photo" >
            <div class="service-item">
              <div class="tile">
                <%=image_tag("services_plus.svg") %>
                <div>
                  <p>01 /</p>
                  <h2>Commercial space</h2>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col-lg-4 col-sm-6 col-xs-12">
          <a href="photo">
            <div class="service-item">
              <div class="tile">
                <%=image_tag("services_plus.svg") %>
                <div>
                  <p>02 /</p>
                  <h2>living space</h2>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col-lg-4 col-sm-6 col-xs-12">
          <a href="photo">
            <div class="service-item">
              <div class="tile">
                <%=image_tag("services_plus.svg") %>
                <div>
                  <p>03 /</p>
                  <h2>living space</h2>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col-lg-4 col-sm-6 col-xs-12">
          <a href="photo">
            <div class="service-item">
              <div class="tile">
                <%=image_tag("services_plus.svg") %>
                <div>
                  <p>04 /</p>
                  <h2>office space</h2>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col-lg-4 col-sm-6 col-xs-12">
          <a href="photo">
            <div class="service-item">
              <div class="tile">
                <%=image_tag("services_plus.svg") %>
                <div>
                  <p>05 /</p>
                  <h2>living space</h2>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col-lg-4 col-sm-6 col-xs-12">
          <a href="photo">
            <div class="service-item">
              <div class="tile">
                <%=image_tag("services_plus.svg") %>
                <div>
                  <p>06 /</p>
                  <h2>living space</h2>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div id="contact" class="sector">
    <div class="container">
      <div class="row" style="text-align: center">
        <div>
          <span class="title-bar"></span>
          <h4>联系</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-4 col-xs-12">
          <h3>陆地(上海)空间设计有限公司</h3>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12">
          <h3>地址 —</h3>
          <p>中国 上海 黄浦区中山东二路88号（外滩SOHO f 栋）</p>

          <a style="color:#993300" href="http://j.map.baidu.com/IdfuB" target="_blank">Get Directions</a>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12">
          <h3>联系电话 —</h3>
          <p>P <span style="color:#993300"> 400-696-1930</span></p>
          <p>E <a href="mailto:landspace@landspace.com.cn" style="color:#993300">landspace@landspace.com.cn</a></p>
        </div>
      </div>
    </div>
  </div>

  <div id="footer">
    <div class="container">
      <div class="row" style="text-align: center;">
        <a href="http://www.landspace.com.cn/" target="_blank" style="color:#FFF"> LAND SPACE DESIGN</a>
      </div>
    </div>
  </div>
</div>

<script>
  function brand_mouseover(e){
    $("#"+e).find('.symbol').css("display", "none");
    $("#"+e).find('h2').css("display", "block");
  }
  function brand_mouseout(e){
    $("#"+e).find('.symbol').css("display", "block");
    $("#"+e).find('h2').css("display", "none");
  }

  function click_person(index){
    $(".team").children().each(function(){
      $(this).removeClass("active");
    });
    $(".team-person").children().each(function(){
      $(this).css("display", "none").css("padding-left", "0px").css("opacity", "0");
    });
    $(".team").children().eq(parseInt(index-1)).addClass("active");
    $(".team-person").children().eq(parseInt(index-1)).fadeIn(0).animate({"paddingLeft":"50px",opacity:1},1000);
  }
  click_person(1);
</script>