
<div id='main-nav-bg'></div>
<nav class='' id='main-nav'>
  <div class='navigation'>
    <ul class='nav nav-stacked'>
      <li class='' id="dashboard">
        <a href='/admin/dashboard'>
          <i class='icon-dashboard'></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class='' id="service_cases">
        <a href='<%=admin_service_cases_path %>'>
          <i class='icon-folder-open-alt'></i>
          <span>服务案例</span>
        </a>
      </li>
      <li class='' id="members">
        <a href='<%=admin_members_path %>'>
          <i class='icon-group'></i>
          <span>团队成员</span>
        </a>
      </li>
      <li class='' id="news_trends">
        <a href='<%=admin_news_trends_path %>'>
          <i class='icon-edit'></i>
          <span>新闻动态</span>
        </a>
      </li>
      <li class='' id="system_configurations">
        <a class='dropdown-collapse' href='#'>
          <i class='icon-cog'></i>
          <span>系统设置</span>
          <i class='icon-angle-down angle-down'></i>
        </a>
        <ul class='nav nav-stacked'>
          <li class='' id="web_site_config">
            <a href='<%=web_site_config_admin_system_configurations_path %>'>
              <i class='icon-caret-right'></i>
              <span>网站配置</span>
            </a>
          </li>

          <li class='' id="company_info_config">
            <a href='<%=company_info_config_admin_system_configurations_path %>'>
              <i class='icon-caret-right'></i>
              <span>公司信息</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<script>
  $("#<%=controller_name%>").addClass("active");
  if($("#<%=controller_name%>").children(".dropdown-collapse") != undefined){
    $("#<%=controller_name%>").children(".dropdown-collapse").addClass("in");
    $("#<%=controller_name%>").children(".nav").addClass("in");
    $("#<%=action_name%>").addClass("active");
  }
</script>