<!DOCTYPE html>
<html>
  <head>
    <title>LandspaceDesign Login</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'admin_layout', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin_layout', 'data-turbolinks-track': 'reload' %>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
  </head>

  <body class="contrast-green">
    <%=render "admin/shared/header"%>
    <div id='wrapper'>
      <%=render "admin/shared/navbar"%>
      <section id='content' style="padding: 20px;">
        <%= yield %>
      </section>
    </div>
  </body>
</html>